@use "../../styles/colors.scss";

.header{
    background-color: colors.$color_add-back;
    padding: 2rem 0;
    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__portfolio{
        text-align: right;
        font-size: 1.4rem;
        color: colors.$color_white;
        cursor: pointer;
    }
}

