@use "../../styles/colors.scss";
@use "../../styles/mixin.scss";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: colors.$color_back-modal;
    backdrop-filter: blur(10px);
    &_none{
        display: none;
    }
    &__body { 
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40rem;
        background-color: colors.$color_add-back;
        border-radius: 2rem;
        padding: 2rem;
    }
    &__title{
        color: colors.$color_white;
        text-align: center;
        font-size: 1.8rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    &__button{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}