$color_dark: #003300;
$color_bright-green: #66ff33;
$color_white: #fff;
$color_background: #1C1D32;
$color_add-back: #454570;
$color_increase: #16C216;
$color_decrease: #FE4949;
$color_button: #5F4BE2;