@use './colors.scss';

@mixin button($color, $scale){
    background-color: $color;
    color: colors.$color_white;
    transition: .3s;
    &:hover:not(:disabled){
        opacity: .6;
        @if($scale != false){
            transform: scale(.95);
         } 
    }
 }