@use './colors.scss';

@mixin button($width, $height, $radius, $color, $scale){
    width: $width;
    height: $height;
    background-color: $color;
    color: colors.$color_white;
    border: none;
    cursor: pointer;
    border-radius: $radius;
    transition: .3s;
    &:hover{
        opacity: .6;
        @if($scale != false){
            transform: scale(.95);
         } 
    }
 }