@use "../../styles/colors.scss";
@use "../../styles/mixin.scss";

.main{
    &__container{
        margin-top: 3rem;
    }
    &__table{
        margin: 0 auto;
    }
    &__pagination {
        margin-top: 2rem;
    }
}

.table{
    border-radius: 1rem;
    border-spacing: 0;
    color: colors.$color_white;
    background-color: colors.$color_add-back;
    padding: 1rem;
    &__name{
        padding: 1rem;
        width: 5rem;
        height: 3rem;
        border-bottom: .05rem solid colors.$color_white;
        color: colors.$color_white;
        font-size: 1.6rem;
    }
    &__item{
        min-width: 8rem;
        height: 3rem;
        padding: 1rem 1.5rem;
        font-size: 1.4rem;
        &_button{
            max-width: 4rem;
            text-align: center;
        }
    }
}
.item{
    &_large{
        min-width: 18rem;
    }
    &_increase{
        align-items: center;
        color: colors.$color_increase;
    }
    &_decrese{
        color: colors.$color_decrease;
    }
    &__arrow{
        padding-left: .5rem;
    }
    &__link{
        color: colors.$color_white;
        transition: .3s;
        &:hover {
            opacity: .7;
        }
    }
}
.button{
    @include mixin.button(2.4rem, 2.4rem, 100%, colors.$color_button, true);
}