@use "../../styles/colors.scss";
@use "../../styles/mixin.scss";

.form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 1rem 0 3rem 0;
    &__name-coin {
        text-align: center;
        color: colors.$color_bright-green;
        font-size: 1.6rem;
    }
    &__input{
        height: 3rem;
        border: none;
        border-radius: .5rem;
        outline: colors.$color_background;
        padding-left: 1rem;
        margin-bottom: 2rem;
    }
}