@use "../../styles/colors.scss";
@use "../../styles/mixin.scss";

.portfolio {
    max-height: 40rem;
    overflow-y: auto;
    &__table{
        margin: 0 auto;
    }
    &__info{
        font-size: 1.8rem;
        color: colors.$color_white;
        text-align: center;
        opacity: .6;
        padding: 3rem 0;
    }
}
.row {
    &__item{
        min-width: 3rem;
        color: colors.$color_white;
        font-size: 1.6rem;
        padding: 1rem 2rem;
    }
}