@use "../../styles/colors.scss";
@use "../../styles/mixin.scss";

.main{
    &__title{
        margin-top: 2rem;
        font-size: 1.8rem;
        color: colors.$color_title;
    }
    &__link{
        font-size: 3.2rem;
        color: colors.$color_white;
        transition: .3s;
        &:hover {
            opacity: .8;
        }
    }
}
.coin { 
    display: flex;
    margin-top: 2rem;
    column-gap: 3rem;
    &__chart{
        flex-grow: 3;
        overflow-x: auto;
        
    }
    @media(max-width: 900px){
        flex-direction: column;
        row-gap: 2rem;
    }
    &__information{
        margin-bottom: 2rem;
    }
    &__button{
        @include mixin.button(20rem, 3rem, 2rem, colors.$color_button, true);
        background-color: colors.$color_button;
        border-radius: 2rem;
    }
}
.information {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    border-radius: 1rem;
    background-color: colors.$color_add-back;
    padding: 2rem;
    color: colors.$color_white;
    font-size: 1.4rem;
    &__name{
        font-size: 1.6rem;
        font-weight: 600;
        padding-right: 2rem;
    }
    &__arrow{
        padding-left: 0.5rem;
    }
}

._increase{
    color: colors.$color_increase;
}
._decrease{
    color: colors.$color_decrease;
}
.arrow {
    padding-left: 0.5rem;
}