@use "../../styles/colors.scss";

.input {
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: .5rem;
    outline: colors.$color_background;
    padding-left: 1rem;
    margin-bottom: 2rem;
}